/***
  Mixins
***/
/***
  Styles
***/
body {
  font-family: "Barlow"; }

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

#main-content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25px; }
  @media (min-width: 800px) {
    #main-content {
      margin-top: 50px; } }
  #main-content .section-title {
    background-color: #4f809b;
    margin: 0 -7px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 9px 0; }
  #main-content #header-section .top-header-section-container {
    padding: 10px; }
    #main-content #header-section .top-header-section-container .image-container {
      padding-left: 10px;
      text-align: center; }
      #main-content #header-section .top-header-section-container .image-container #header-logo {
        width: 130px; }
        @media (max-width: 450px) {
          #main-content #header-section .top-header-section-container .image-container #header-logo {
            width: 100px; } }
    #main-content #header-section .top-header-section-container .content-container {
      text-align: center;
      margin: 20px 0; }
      #main-content #header-section .top-header-section-container .content-container h1 {
        margin: 5px 0;
        font-size: 2.2e; }
      #main-content #header-section .top-header-section-container .content-container .subheader-section {
        display: flex;
        justify-content: center;
        margin: 15px 0;
        color: #859db4;
        font-size: 17px;
        font-weight: bold; }
        @media (max-width: 800px) {
          #main-content #header-section .top-header-section-container .content-container .subheader-section {
            flex-direction: column; } }
        #main-content #header-section .top-header-section-container .content-container .subheader-section .online-edition {
          color: #9fcde1; }
        #main-content #header-section .top-header-section-container .content-container .subheader-section .subheader-item {
          padding: 0 5px; }
      #main-content #header-section .top-header-section-container .content-container #slogan {
        margin-top: 30px; }
  #main-content #header-section #cta-section {
    text-align: center;
    margin: 20px 0; }
    #main-content #header-section #cta-section #registration-button {
      background-color: #23a455;
      color: white;
      padding: 15px 35px;
      border: none;
      border-radius: 5px;
      font-size: 1em;
      text-decoration: none; }
    #main-content #header-section #cta-section #countdown {
      padding: 20px 0;
      font-family: 'Anton', sans-serif;
      font-size: 6vw;
      text-align: center; }
      @media (min-width: 450px) {
        #main-content #header-section #cta-section #countdown {
          font-size: 26px; } }
  #main-content #schedule-section #schedule {
    display: flex;
    justify-content: center; }
    #main-content #schedule-section #schedule ul {
      list-style-type: none;
      padding: 0; }
      #main-content #schedule-section #schedule ul li {
        line-height: 30px; }
  #main-content #faq-section .faq-section-content {
    padding: 10px; }
    #main-content #faq-section .faq-section-content #accordion {
      width: 100%;
      max-width: 500px; }
  #main-content #bottom-section {
    background: url("../images/tzu_shao_conference_header.jpg") center no-repeat;
    background-size: cover;
    height: 288px;
    position: relative;
    margin-top: 30px; }
    #main-content #bottom-section .content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%; }
      #main-content #bottom-section .content span {
        color: white;
        font-weight: bold;
        font-size: 6vw; }
        @media (min-width: 450px) {
          #main-content #bottom-section .content span {
            font-size: 54px; } }

.ui-accordion-header {
  outline: none;
  font-family: "Barlow"; }

.ui-widget-content {
  border: none; }

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
  background-image: url("https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png");
  margin-right: 5px; }

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
  margin-right: 5px; }

.ui-widget-content a {
  color: #0096D6; }

.ui-state-default {
  border: none;
  background: none;
  color: #0096D6; }

/*# sourceMappingURL=index.css.map */