/***
  Mixins
***/
/***
  Styles
***/
body {
  font-family: "Barlow"; }

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

#main-content {
  max-width: 1200px;
  margin: 0 auto; }
  #main-content .navbar {
    background-color: #4f809b !important; }
    #main-content .navbar .navbar-brand {
      color: white;
      font-weight: bold; }
    #main-content .navbar .navbar-nav .nav-item .nav-link {
      color: white; }
    #main-content .navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url("../images/menu.svg"); }
  #main-content .calendar-icon-container {
    position: relative;
    padding: 0 10px; }
    #main-content .calendar-icon-container img {
      height: 50px;
      width: 50px; }
    #main-content .calendar-icon-container .day, #main-content .calendar-icon-container .number {
      position: absolute;
      font-weight: bold;
      height: 50px;
      width: 50px; }
    #main-content .calendar-icon-container .day {
      font-size: 12px;
      bottom: -15px;
      text-align: center; }
    #main-content .calendar-icon-container .number {
      font-size: 18px;
      bottom: -25px;
      color: #7e7f78;
      text-align: center; }

#header-section {
  position: relative;
  margin: 10px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #f4fffe;
  z-index: 0; }
  #header-section .top-header-section-container {
    padding: 10px; }
    #header-section .top-header-section-container .image-container {
      padding-left: 10px;
      text-align: center; }
      #header-section .top-header-section-container .image-container #header-logo {
        width: 130px; }
        @media (max-width: 450px) {
          #header-section .top-header-section-container .image-container #header-logo {
            width: 100px; } }
    #header-section .top-header-section-container .content-container {
      text-align: center;
      margin: 20px 0; }
      #header-section .top-header-section-container .content-container h1 {
        margin: 5px 0;
        font-size: 2.2e; }
      #header-section .top-header-section-container .content-container .subheader-section {
        display: flex;
        justify-content: center;
        margin: 15px 0;
        color: #859db4;
        font-size: 17px;
        font-weight: bold; }
        @media (max-width: 800px) {
          #header-section .top-header-section-container .content-container .subheader-section {
            flex-direction: column; } }
        #header-section .top-header-section-container .content-container .subheader-section .online-edition {
          color: #deb653; }
        #header-section .top-header-section-container .content-container .subheader-section .subheader-item {
          padding: 0 5px; }
      #header-section .top-header-section-container .content-container #slogan {
        display: none;
        margin-top: 30px;
        color: #cd9c4f; }
    #header-section .top-header-section-container .bamboo-image {
      opacity: 0.23;
      position: absolute;
      height: 111%;
      bottom: -32px;
      left: -223px;
      z-index: -999;
      transform: rotate(-6deg); }
      @media (min-width: 450px) {
        #header-section .top-header-section-container .bamboo-image {
          left: -23px; } }
    #header-section .top-header-section-container .bamboo-single-image {
      opacity: 0.2;
      position: absolute;
      right: -125px;
      height: 110%;
      top: -15px;
      z-index: -999;
      transform: rotate(2deg); }
      @media (min-width: 450px) {
        #header-section .top-header-section-container .bamboo-single-image {
          right: -88px; } }
  #header-section #cta-section {
    text-align: center;
    margin: 20px 0; }
    #header-section #cta-section #registration-button {
      background-color: #3db0e0;
      color: white;
      padding: 15px 35px;
      border: none;
      border-radius: 5px;
      font-size: 1em;
      text-decoration: none; }
    #header-section #cta-section #countdown {
      display: none;
      padding: 20px 0;
      font-family: 'Anton', sans-serif;
      font-size: 6vw;
      text-align: center; }
      @media (min-width: 450px) {
        #header-section #cta-section #countdown {
          font-size: 26px; } }

#main-content.home-page .section-title {
  background-color: #4f809b;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 9px 0; }
  @media (min-width: 800px) {
    #main-content.home-page .section-title {
      font-size: 23px; } }

#main-content.home-page #event-info-and-heart-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto; }
  @media (min-width: 450px) {
    #main-content.home-page #event-info-and-heart-section-container {
      max-width: 900px; } }
  @media (min-width: 800px) {
    #main-content.home-page #event-info-and-heart-section-container {
      flex-direction: row; } }
  #main-content.home-page #event-info-and-heart-section-container #event-info-section {
    padding: 10px 0;
    width: 100%;
    max-width: 350px; }
    @media (max-width: 800px) {
      #main-content.home-page #event-info-and-heart-section-container #event-info-section {
        margin: auto; } }
    @media (min-width: 800px) {
      #main-content.home-page #event-info-and-heart-section-container #event-info-section {
        width: 50%;
        min-height: 350px;
        padding: 10px 35px; } }
    #main-content.home-page #event-info-and-heart-section-container #event-info-section #event-info-selectors-container {
      display: flex;
      justify-content: space-evenly;
      padding: 25px 0;
      margin: auto; }
      @supports (-ms-ime-align: auto) {
        #main-content.home-page #event-info-and-heart-section-container #event-info-section #event-info-selectors-container {
          justify-content: center; } }
      #main-content.home-page #event-info-and-heart-section-container #event-info-section #event-info-selectors-container .event-info-selector {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        opacity: 0.4;
        cursor: pointer;
        margin: 0 5px;
        padding-bottom: 5px;
        border-bottom: 5px solid #eaeaea; }
        @supports (-ms-ime-align: auto) {
          #main-content.home-page #event-info-and-heart-section-container #event-info-section #event-info-selectors-container .event-info-selector {
            padding: 0 10px; } }
        #main-content.home-page #event-info-and-heart-section-container #event-info-section #event-info-selectors-container .event-info-selector .event-info-selector-icon {
          max-width: 40px; }
        #main-content.home-page #event-info-and-heart-section-container #event-info-section #event-info-selectors-container .event-info-selector.selected {
          opacity: 1;
          font-weight: bold;
          border-bottom: 5px solid #83c583; }
    #main-content.home-page #event-info-and-heart-section-container #event-info-section #general-info-section {
      padding: 25px 0px; }
      @media (min-width: 450px) {
        #main-content.home-page #event-info-and-heart-section-container #event-info-section #general-info-section {
          max-width: 350px; } }
      #main-content.home-page #event-info-and-heart-section-container #event-info-section #general-info-section #general-info-section-content {
        text-align: left; }
        @media (max-width: 450px) {
          #main-content.home-page #event-info-and-heart-section-container #event-info-section #general-info-section #general-info-section-content {
            padding: 0 25px; } }
        #main-content.home-page #event-info-and-heart-section-container #event-info-section #general-info-section #general-info-section-content .label {
          color: #8fc0d1; }
    #main-content.home-page #event-info-and-heart-section-container #event-info-section #schedule-section #schedule-section-content {
      text-align: center; }
      #main-content.home-page #event-info-and-heart-section-container #event-info-section #schedule-section #schedule-section-content .schedule-day-item {
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        @supports (-ms-ime-align: auto) {
          #main-content.home-page #event-info-and-heart-section-container #event-info-section #schedule-section #schedule-section-content .schedule-day-item {
            justify-content: center; } }
  #main-content.home-page #event-info-and-heart-section-container #heart-section {
    text-align: center;
    padding: 40px 0; }
    @media (min-width: 800px) {
      #main-content.home-page #event-info-and-heart-section-container #heart-section {
        align-self: center; } }
    #main-content.home-page #event-info-and-heart-section-container #heart-section #heart-section-icon {
      max-width: 175px; }
      @media (min-width: 800px) {
        #main-content.home-page #event-info-and-heart-section-container #heart-section #heart-section-icon {
          max-width: 250px; } }

#main-content.home-page #faq-section .faq-section-content {
  padding: 0 0 30px;
  width: 100%;
  max-width: 700px;
  background: white;
  margin: auto; }
  @media (min-width: 800px) {
    #main-content.home-page #faq-section .faq-section-content {
      padding: 30px 0 45px; } }
  #main-content.home-page #faq-section .faq-section-content #accordion {
    padding: 0 10px;
    width: 75%; }
    @media (max-width: 800px) {
      #main-content.home-page #faq-section .faq-section-content #accordion {
        max-width: 400px; } }
    #main-content.home-page #faq-section .faq-section-content #accordion .ui-accordion-header {
      margin: 15px 0 0 0;
      border: 2px solid #b5dcb5;
      border-radius: 3px;
      color: #133649; }

#main-content.home-page #bottom-section {
  background: url("../images/tzu_shao_conference_header.jpg") center no-repeat;
  background-size: cover;
  height: 288px;
  position: relative; }
  #main-content.home-page #bottom-section .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    #main-content.home-page #bottom-section .content span {
      color: white;
      font-weight: bold;
      font-size: 6vw; }
      @media (min-width: 450px) {
        #main-content.home-page #bottom-section .content span {
          font-size: 54px; } }
  #main-content.home-page #bottom-section #flaticon-attribution {
    font-size: 12px;
    text-align: right;
    padding: 20px 0;
    opacity: 0.6; }

.ui-accordion-header {
  outline: none;
  font-family: "Barlow"; }

.ui-widget-content {
  border: none; }

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
  background-image: url("https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png");
  margin-right: 5px; }

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
  margin-right: 5px; }

.ui-widget-content a {
  color: #0096D6; }

.ui-state-default {
  border: none;
  background: none;
  color: #0096D6; }

/* Non-Home Pages */
#speakers-section h1, #group-advisors-section h1, #schedule-section h1 {
  text-align: center;
  color: #4f809b;
  margin: 35px 0;
  font-size: 2rem; }

/* Speakers and Group Advisors Page */
#main-content.speakers-page #header-section, #main-content.group-advisors-page #header-section, #main-content.schedule-page #header-section {
  min-height: 150px; }
  #main-content.speakers-page #header-section .top-header-section-container, #main-content.group-advisors-page #header-section .top-header-section-container, #main-content.schedule-page #header-section .top-header-section-container {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 800px) {
      #main-content.speakers-page #header-section .top-header-section-container, #main-content.group-advisors-page #header-section .top-header-section-container, #main-content.schedule-page #header-section .top-header-section-container {
        flex-direction: column; } }
    #main-content.speakers-page #header-section .top-header-section-container .bamboo-image, #main-content.group-advisors-page #header-section .top-header-section-container .bamboo-image, #main-content.schedule-page #header-section .top-header-section-container .bamboo-image {
      left: 15px; }
    #main-content.speakers-page #header-section .top-header-section-container .bamboo-single-image, #main-content.group-advisors-page #header-section .top-header-section-container .bamboo-single-image, #main-content.schedule-page #header-section .top-header-section-container .bamboo-single-image {
      right: -15px; }
    #main-content.speakers-page #header-section .top-header-section-container .content-container, #main-content.group-advisors-page #header-section .top-header-section-container .content-container, #main-content.schedule-page #header-section .top-header-section-container .content-container {
      display: flex;
      flex-direction: column;
      padding-left: 10px; }
      #main-content.speakers-page #header-section .top-header-section-container .content-container h1, #main-content.group-advisors-page #header-section .top-header-section-container .content-container h1, #main-content.schedule-page #header-section .top-header-section-container .content-container h1 {
        font-size: 2rem; }
        @media (max-width: 450px) {
          #main-content.speakers-page #header-section .top-header-section-container .content-container h1, #main-content.group-advisors-page #header-section .top-header-section-container .content-container h1, #main-content.schedule-page #header-section .top-header-section-container .content-container h1 {
            font-size: 1.2rem; } }
      #main-content.speakers-page #header-section .top-header-section-container .content-container #slogan, #main-content.group-advisors-page #header-section .top-header-section-container .content-container #slogan, #main-content.schedule-page #header-section .top-header-section-container .content-container #slogan {
        display: block;
        font-weight: bold;
        margin-top: 2px; }
        @media (max-width: 450px) {
          #main-content.speakers-page #header-section .top-header-section-container .content-container #slogan, #main-content.group-advisors-page #header-section .top-header-section-container .content-container #slogan, #main-content.schedule-page #header-section .top-header-section-container .content-container #slogan {
            font-size: 13px; } }

#main-content.speakers-page #speakers-section ul.people-list, #main-content.speakers-page #group-advisors-section ul.people-list, #main-content.group-advisors-page #speakers-section ul.people-list, #main-content.group-advisors-page #group-advisors-section ul.people-list, #main-content.schedule-page #speakers-section ul.people-list, #main-content.schedule-page #group-advisors-section ul.people-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 80%;
  margin: auto; }
  @media (min-width: 1199px) {
    #main-content.speakers-page #speakers-section ul.people-list, #main-content.speakers-page #group-advisors-section ul.people-list, #main-content.group-advisors-page #speakers-section ul.people-list, #main-content.group-advisors-page #group-advisors-section ul.people-list, #main-content.schedule-page #speakers-section ul.people-list, #main-content.schedule-page #group-advisors-section ul.people-list {
      max-width: 65%; } }
  #main-content.speakers-page #speakers-section ul.people-list li.people-list-item, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item {
    background: #fff;
    box-shadow: 0 1px 3px #efe9dc;
    border-radius: 10px;
    border-top: 10px solid #fff;
    border-color: #83c583;
    margin: 0 0 50px;
    padding: 20px;
    position: relative; }
    @media (min-width: 800px) {
      #main-content.speakers-page #speakers-section ul.people-list li.people-list-item, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item {
        margin: 0 0 50px;
        padding: 50px 50px 50px 100px;
        display: flex; } }
    #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image {
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 0 15px;
        border-radius: 75px;
        box-shadow: 0 7px 14px rgba(41, 32, 16, 0.15);
        top: 0;
        left: 0; }
        #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.emma, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.emma, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.emma, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.emma, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.emma, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.emma {
          background-image: url(../images/people/emma_yu.jpg);
          background-size: 150px auto; }
        #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.vincent, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.vincent, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.vincent, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.vincent, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.vincent, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.vincent {
          background-image: url(../images/people/vincent_tseng.jpg);
          background-size: 275px auto;
          background-position-x: -64px; }
        #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.liyan, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.liyan, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.liyan, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.liyan, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.liyan, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.liyan {
          background-image: url(../images/people/lemon.jpg);
          background-size: 150px auto; }
        #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.alan, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.alan, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.alan, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.alan, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.alan, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.alan {
          background-image: url(../images/people/alan_chen.jpg);
          background-size: 225px auto;
          background-position-x: -27px; }
        #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.fred, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.fred, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.fred, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.fred, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.fred, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.fred {
          background-image: url(../images/people/fred_yang.png);
          background-size: 165px auto;
          background-position-x: -5px; }
        #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.theresa, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.theresa, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.theresa, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.theresa, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.theresa, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.theresa {
          background-image: url(../images/people/theresa_yang.jpg);
          background-size: 130px auto;
          background-position-x: 15px; }
        #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.kevin, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.kevin, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.kevin, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.kevin, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.kevin, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.kevin {
          background-image: url(../images/people/kevin_lee.jpg);
          background-size: 135px auto;
          background-position-x: 15px; }
        #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.lily, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.lily, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.lily, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.lily, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.lily, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name .profile-image.lily {
          background-image: url(../images/people/lily_kang_square.png);
          background-size: 164px auto;
          background-position-x: 0px; }
      #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name h3, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name h3, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name h3, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name h3, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .people-list-item-pic-and-name h3, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .people-list-item-pic-and-name h3 {
        font-size: 1.5rem;
        text-align: center; }
    @media (min-width: 450px) {
      #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .profile-details, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .profile-details, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .profile-details, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .profile-details, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .profile-details, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .profile-details {
        padding-left: 25px;
        display: flex;
        flex-direction: column; } }
    #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .profile-details p, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .profile-details p, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .profile-details p, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .profile-details p, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .profile-details p, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .profile-details p {
      margin-bottom: 4px; }
      #main-content.speakers-page #speakers-section ul.people-list li.people-list-item .profile-details p span.label, #main-content.speakers-page #group-advisors-section ul.people-list li.people-list-item .profile-details p span.label, #main-content.group-advisors-page #speakers-section ul.people-list li.people-list-item .profile-details p span.label, #main-content.group-advisors-page #group-advisors-section ul.people-list li.people-list-item .profile-details p span.label, #main-content.schedule-page #speakers-section ul.people-list li.people-list-item .profile-details p span.label, #main-content.schedule-page #group-advisors-section ul.people-list li.people-list-item .profile-details p span.label {
        font-weight: bold;
        font-size: 16px;
        color: #59af59; }

#main-content.schedule-page #schedule-section #schedule-container {
  display: flex;
  justify-content: space-evenly; }
  @media (max-width: 800px) {
    #main-content.schedule-page #schedule-section #schedule-container {
      flex-direction: column;
      align-items: center; } }
  #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container {
    width: 300px; }
    #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .day-header {
      display: flex;
      align-items: center;
      flex-direction: column; }
      @media (max-width: 800px) {
        #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .day-header {
          padding-bottom: 10px; } }
      #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .day-header .calendar-icon-container img {
        height: 75px;
        width: 75px; }
      #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .day-header .calendar-icon-container .day, #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .day-header .calendar-icon-container .number {
        height: 75px;
        width: 75px; }
      #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .day-header .calendar-icon-container .day {
        font-size: 17px;
        bottom: -25px;
        text-align: center; }
      #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .day-header .calendar-icon-container .number {
        font-size: 22px;
        bottom: -40px;
        color: #7e7f78;
        text-align: center; }
      #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .day-header .day-label {
        font-size: 22px;
        font-weight: bold;
        margin-top: 15px;
        color: white;
        background: #83c583;
        text-align: center;
        width: 90%; }
    #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .schedule-day-list {
      list-style: none;
      padding-left: 0; }
      @media (min-width: 800px) {
        #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .schedule-day-list {
          padding: 15px; }
          #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .schedule-day-list.middle {
            background-color: #fffdef; } }
      #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .schedule-day-list .schedule-item {
        padding: 13px 0; }
        #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .schedule-day-list .schedule-item p {
          margin-bottom: 0; }
        #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .schedule-day-list .schedule-item .schedule-item-title {
          font-weight: bold;
          color: #444141; }
          #main-content.schedule-page #schedule-section #schedule-container .schedule-day-list-container .schedule-day-list .schedule-item .schedule-item-title.break {
            color: #6a9ead; }

/*# sourceMappingURL=index.css.map */