/***
  Mixins
***/
/***
  Styles
***/
body {
  font-family: "Barlow"; }

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center; }

#main-content {
  max-width: 1200px;
  margin: 0 auto; }
  #main-content .section-title {
    background-color: #4f809b;
    margin: 0 -7px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 9px 0; }
  #main-content #header-section {
    position: relative;
    margin: 10px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden; }
    #main-content #header-section .top-header-section-container {
      padding: 10px; }
      #main-content #header-section .top-header-section-container .image-container {
        padding-left: 10px;
        text-align: center; }
        #main-content #header-section .top-header-section-container .image-container #header-logo {
          width: 130px; }
          @media (max-width: 450px) {
            #main-content #header-section .top-header-section-container .image-container #header-logo {
              width: 100px; } }
      #main-content #header-section .top-header-section-container .content-container {
        text-align: center;
        margin: 20px 0; }
        #main-content #header-section .top-header-section-container .content-container h1 {
          margin: 5px 0;
          font-size: 2.2e; }
        #main-content #header-section .top-header-section-container .content-container .subheader-section {
          display: flex;
          justify-content: center;
          margin: 15px 0;
          color: #859db4;
          font-size: 17px;
          font-weight: bold; }
          @media (max-width: 800px) {
            #main-content #header-section .top-header-section-container .content-container .subheader-section {
              flex-direction: column; } }
          #main-content #header-section .top-header-section-container .content-container .subheader-section .online-edition {
            color: #9fcde1; }
          #main-content #header-section .top-header-section-container .content-container .subheader-section .subheader-item {
            padding: 0 5px; }
        #main-content #header-section .top-header-section-container .content-container #slogan {
          display: none;
          margin-top: 30px;
          color: #cd9c4f; }
      #main-content #header-section .top-header-section-container .bamboo-image {
        opacity: 0.07;
        position: absolute;
        height: 111%;
        bottom: -14px;
        left: -29px;
        z-index: -999; }
        @media (min-width: 450px) {
          #main-content #header-section .top-header-section-container .bamboo-image {
            opacity: 0.09; } }
      #main-content #header-section .top-header-section-container .bamboo-single-image {
        opacity: 0.05;
        position: absolute;
        right: -100;
        height: 110%;
        top: -15px;
        z-index: -999; }
        @media (min-width: 450px) {
          #main-content #header-section .top-header-section-container .bamboo-single-image {
            opacity: 0.08; } }
    #main-content #header-section #cta-section {
      text-align: center;
      margin: 20px 0; }
      #main-content #header-section #cta-section #registration-button {
        background-color: #23a455;
        color: white;
        padding: 15px 35px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        text-decoration: none; }
      #main-content #header-section #cta-section #countdown {
        display: none;
        padding: 20px 0;
        font-family: 'Anton', sans-serif;
        font-size: 6vw;
        text-align: center; }
        @media (min-width: 450px) {
          #main-content #header-section #cta-section #countdown {
            font-size: 26px; } }
  #main-content #event-info-section {
    padding: 10px 0; }
    #main-content #event-info-section #event-info-selectors-container {
      display: flex;
      justify-content: space-evenly;
      padding: 25px 0;
      max-width: 450px;
      margin: auto; }
      #main-content #event-info-section #event-info-selectors-container .event-info-selector {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 55%; }
        #main-content #event-info-section #event-info-selectors-container .event-info-selector .event-info-selector-icon {
          max-width: 40px; }
        #main-content #event-info-section #event-info-selectors-container .event-info-selector.selected {
          opacity: 100%; }
    #main-content #event-info-section #general-info-section {
      padding: 25px 0px; }
      #main-content #event-info-section #general-info-section #general-info-section-content {
        text-align: center; }
    #main-content #event-info-section #schedule-section #schedule-section-content {
      text-align: center; }
  #main-content #faq-section .faq-section-content {
    padding: 10px; }
    #main-content #faq-section .faq-section-content #accordion {
      width: 100%;
      max-width: 500px; }
  #main-content #bottom-section {
    background: url("../images/tzu_shao_conference_header.jpg") center no-repeat;
    background-size: cover;
    height: 288px;
    position: relative;
    margin-top: 30px; }
    #main-content #bottom-section .content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%; }
      #main-content #bottom-section .content span {
        color: white;
        font-weight: bold;
        font-size: 6vw; }
        @media (min-width: 450px) {
          #main-content #bottom-section .content span {
            font-size: 54px; } }
  #main-content .divider-section {
    text-align: center;
    padding: 40px 0; }
    #main-content .divider-section .divider-section-icon {
      max-width: 100px; }
      @media (min-width: 800px) {
        #main-content .divider-section .divider-section-icon {
          max-width: 150px; } }

.ui-accordion-header {
  outline: none;
  font-family: "Barlow"; }

.ui-widget-content {
  border: none; }

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
  background-image: url("https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png");
  margin-right: 5px; }

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
  margin-right: 5px; }

.ui-widget-content a {
  color: #0096D6; }

.ui-state-default {
  border: none;
  background: none;
  color: #0096D6; }

/*# sourceMappingURL=index.css.map */