$tablet-landscape-max: 1199px;
$tablet-portrait-min: 800px;
$mobile-max: 450px;

/***
  Mixins
***/

@mixin site-button {
  background-color: #23a455;
  color: white;
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
}

/***
  Styles
***/

body {
  font-family: "Barlow";
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-content {
  max-width: 1200px;
  margin: 0 auto;
  
  .section-title {
    background-color: #4f809b;
    margin: 0 -7px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 9px 0;
  }
  
  #header-section {
    position: relative;
    margin: 10px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    
    .top-header-section-container {
      padding: 10px;
      
      .image-container {
        padding-left: 10px;
        text-align: center;
        
        #header-logo {
          @media (max-width: $mobile-max) { width: 100px; }
          
          width: 130px;
        }
      }
      
      .content-container {
        text-align: center;
        margin: 20px 0;
        
        h1 {
          margin: 5px 0;
          font-size: 2.2e;
        }
        
        .subheader-section {
          display: flex;
          justify-content: center;
          
          @media (max-width: $tablet-portrait-min) { flex-direction: column; }
          
          margin: 15px 0;
          color: #859db4;
          font-size: 17px;
          font-weight: bold;
          
          .online-edition {
            color: #9fcde1;
          }
          
          .dates {
            
          }
          
          .subheader-item {
            padding: 0 5px;
          }
        }
        
        #slogan {
          display: none;
          margin-top: 30px;
          color: #cd9c4f;
        }
      }
      
      .bamboo-image {
        @media (min-width: $mobile-max) { opacity: 0.09; }
        opacity: 0.07;
        
        position: absolute;
        height: 111%;
        bottom: -14px;
        left: -29px;
      }
      
      .bamboo-single-image {
        @media (min-width: $mobile-max) { opacity: 0.08; }
        opacity: 0.05;
        
        position: absolute;
        right: -100;
        height: 110%;
        top: -15px;
      }
    }
    
    #cta-section {
      text-align: center;
      margin: 20px 0;
      
      #registration-button {
        @include site-button;
      }
      
      #countdown {
        display: none;
        
        @media (min-width: $mobile-max) { font-size: 26px; }
        
        padding: 20px 0;
        font-family: 'Anton', sans-serif;
        font-size: 6vw;
        text-align: center;
      }
    }
  }
  
  #event-info-section {
    padding: 10px 0;
    
    #event-info-selectors-container {
      display: flex;
      justify-content: space-evenly;
      padding: 25px 0;
      max-width: 450px;
      margin: auto;
      
      .event-info-selector {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 55%;
        
        .event-info-selector-icon {
          max-width: 40px;
        }
        
        &.selected {
          opacity: 100%;
        }
      }
    }
    
    #general-info-section {
      padding: 25px 0px;
    
      #general-info-section-content {
        text-align: center;
      }
    }
    
    #schedule-section {
      #schedule-section-content {
        text-align: center;
      }
    }
  }
  
  #faq-section {
    .faq-section-content {
      padding: 10px;
      
      #accordion {
        width: 100%;
        max-width: 500px;
      }
    }
  }
  
  #bottom-section {
    background: url('../images/tzu_shao_conference_header.jpg') center no-repeat;
    background-size: cover;
    height: 288px;
    position: relative;
    margin-top: 30px;
    
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      
      span {
        color: white;
        font-weight: bold;
        font-size: 6vw;
        
        @media (min-width: $mobile-max) { font-size: 54px; }
      }
    }
  }
  
  .divider-section {
    text-align: center;
    padding: 40px 0;
    
    .divider-section-icon {
      @media (min-width: $tablet-portrait-min) { max-width: 150px; }
      max-width: 100px;
    }
  }
}

.ui-accordion-header {
  outline: none;  
  font-family: "Barlow";
}

.ui-widget-content {
  border: none;
}

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
  background-image: url("https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png");
  margin-right: 5px;
}

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
  margin-right: 5px;
}

.ui-widget-content a {
  color: #0096D6;
}

.ui-state-default {
  border: none;
  background: none;
  color: #0096D6;
}

